.user-card{
    display: flex;
    flex-direction: column;
    height: auto;
    border-radius: 3px;
    padding:8px;
    width:160px;
    margin:10px;
}
.user-card  label{
    font-size:13px;
    color:rgb(131, 148, 146);
}
.user-card span{
    padding-bottom: 5px;
}
.user-card .username{
    background-color: white;
    border-radius: 3px;
    height: 20px;
}
.user-card .description{
    word-wrap: break-word;
    height: auto;
    background-color: white;
    border-radius: 3px;
}
.user-card label{
    padding:2px 0px;
}
  .user-card button{
      height: 30px;
  }
  .user-card button::after{
      content: '-';
      padding-left:10px;

  }