.user-board{
    width:calc(100vw - 300px);
    /* height: calc(100vh - 100px); */
    padding:20px;
    position: relative;
    overflow-x: auto;
}

.user-board h3{
    margin-top:10px
}

.user-board hr{
    position: relative;
    width:100%;
    margin:0;
    border-top: 1px solid #cdd8db23;

}
.user{
    padding-top:10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: calc(100vh - 170px);
    width:170px;
    max-width: calc(100vw - 300px);
    margin-right:5px;
    

}